.cardDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    margin: 20px;
    border: 2px red dotted;
    border-radius: 80px;
    box-shadow: rgba(255, 0, 0, 0.514) 3px 3px 5px;
}

.cardDetail img{
    border-radius: 30px;
}