.CartWidget {
    display: flex;
    color: black;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.CartWidget img {
    padding: 5px;
}