picture {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 230px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-items: center;
}   

img {
    border-radius: 50%;
    box-shadow: 0 0 15px #555;
    margin-bottom: 10px;
}

