.NavBar {
  display: flex;
  height: 100px;
  width: 100vw;
  background-color: rgba(98, 168, 234, 0.687);
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Opcion{
  width: auto;
  height: auto;
  border: 2px blue solid;
  border-radius: 50px;
  padding: 5px 10px 5px 10px; 
  text-align: center;
  text-decoration: none;
  color: white;
}

.Opcion-home{
  width: auto;
  height: auto;
  background-color: rgba(98, 168, 234, 0.687);
  border: 2px rgba(0, 136, 255, 0.708) solid;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.OpcionActiva{
  width: auto;
  height: auto;
  background-color: white;
  border: 2px blue solid;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
  color: black;
  box-shadow: blue 3px 3px 8px;
}

.Categorias {
  display: flex;
  width: 50vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tapa{
  width: 75px;
  height: 50px;
  border: 2px solid black;
  border-radius: 40px;
  background-color: rgba(69, 133, 194, 0.687);
}